<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{{title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script src="http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU"
            type="text/javascript"></script>
    <script type="text/javascript">
        //  ак только будет загружен API и готов DOM, выполн€ем инициализацию
        ymaps.ready(init);
 
        function init () {

            var centerPoint = [{{centerPoint[0][0]}}, {{centerPoint[0][1]}}];//центр карты
            var polygon = [[{% for point in lstPolygon %}
                               [{{point[0]}}, {{point[1]}}]{% if loop.last != true%},{% endif %}
                            {% endfor %}]];//многоугольник

            var lstPoint = [{% for point in lstPoint %}
                               [{{point[0]}}, {{point[1]}}]{% if loop.last != true%},{% endif %}
                            {% endfor %}];//набор всех точек

            var myMap = new ymaps.Map("map", {center: [centerPoint[0], centerPoint[1]], zoom: 10});//рисуем карту
            myMap.geoObjects.add(new ymaps.Polygon(polygon));//рисуем многоугольник

            for (var i = 0; i < lstPoint.length; i++)
                myMap.geoObjects.add(new ymaps.GeoObject({geometry: {type: "Point",
                                                                     coordinates: [lstPoint[i][0], lstPoint[i][1]]}}));

            myMap.controls.add('mapTools');
            myMap.controls.add('zoomControl');
        }
    </script>
</head>
 
<body>
<h2>ѕостроение многоугольника по заданным координатам</h2>
 
<div id="map" style="width:800px; height:600px"></div>
</body>
 
</html>